# **ASE Python Developer Learning**

## **Week 1**

### **Basics and Variables**

In [8]:
x = 10
x = 20
y = 45
z = x + y
print(f"The sum of {x} and {y} is {z}")
a, b, c = 5, 15, 25
print(f"Values are a: {a}, b: {b}, and c: {c}")

The sum of 20 and 45 is 65
Values are a: 5, b: 15, and c: 25

In [ ]:
s_name = input("Enter a Name :")
s_age = int(input("Enter a Age :"))
s_city = input("Enter a City :")
print(f"Name : {s_name}, Age : {s_age}, City : {s_city}")

Muazam 65

### **Data Types**

In [9]:
a = 10 # integer
b = 3.14 # float
c = "Muazam" # string
d = True # boolean
print(f"Integer: {a}, Float: {b}, String: {c}, Boolean: {d}")

Integer: 10, Float: 3.14, String: Muazam, Boolean: True

In [10]:
num_int = 42 # integer
int_num = str(num_int) # converting integer to string
print(f"Original: {num_int} ({type(num_int)}), Converted: {int_num} ({type(int_num)})")
float_num = 3.14159 # float
str_float = int(float_num) # converting float to integer
print(f"Original: {float_num} ({type(float_num)}), Converted: {str_float} ({type(str_float)})")
str_val = "123" # string
str_to_float = float(str_val) # converting string to float
print(f"Original: {str_val} ({type(str_val)}), Converted: {str_to_float} ({type(str_to_float)})")

Original: 42 (<class 'int'>), Converted: 42 (<class 'str'>)
Original: 3.14159 (<class 'float'>), Converted: 3 (<class 'int'>)
Original: 123 (<class 'str'>), Converted: 123.0 (<class 'float'>)

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height in inches: "))
print(f"Name: {name}, Age: {age}, Height: {height} inches: ")
print(f"Data Types - Name: {type(name)}, Age: {type(age)}, Height: {type(height)}")

Name: Muazam (<class 'str'>), Age: 34 (<class 'int'>), Height: 5.7 inches (<class 'float'>)

In [ ]:
name = "Ali"
age = 20
height = 5.8
print(f"My name is {name}, I am {age} years old and my height is {height} feet.")

### **Student Info Calculator**

In [15]:
s_name = input("Enter a Name :")
s_age = int(input("Enter a Age :"))
subject_1 = int(input("Enter Subject 1 :"))
subject_2 = int(input("Enter Subject 2 :")) 
subject_3 = int(input("Enter Subject 3 :"))
total_marks = subject_1 + subject_2 + subject_3
avg_marks = total_marks / 3
print(f"Student Name: {s_name}, Age: {s_age}, Total Marks: {total_marks}, Average Marks: {avg_marks}")

Student Name: Ali, Age: 22, Total Marks: 240, Average Marks: 80.0